@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px) {
    .clip-diagonal {
        clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
        z-index: 1;
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0);
    }
}