@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px) {
    .clip-diagonal {
        clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
        z-index: 1;
    }
}

.outlined-text {
    text-shadow:
        -1px -1px 0 #62B9B3,
        1px -1px 0 #62B9B3,
        -1px 1px 0 #62B9B3,
        1px 1px 0 #62B9B3;
}